# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/BasicOperationsExercises/DesignTimeBuild/.dtbcache
.gitattributes
.vs/BasicOperationsExercises/v16/.suo
.vs/BasicOperationsExercises/v16/Server/sqlite3/db.lock
.vs/BasicOperationsExercises/v16/Server/sqlite3/storage.ide
.vs/BasicOperationsExercises/v16/Server/sqlite3/storage.ide-shm
.vs/BasicOperationsExercises/v16/Server/sqlite3/storage.ide-wal
.vs/TETETETETE/DesignTimeBuild/.dtbcache
BasicOperationsExercises.sln
Class1.cs
Lecutre2HomeWork/bin/Debug/netcoreapp3.1/Lecutre2HomeWork.deps.json
Lecutre2HomeWork/bin/Debug/netcoreapp3.1/Lecutre2HomeWork.pdb
Lecutre2HomeWork/bin/Debug/netcoreapp3.1/Lecutre2HomeWork.runtimeconfig.dev.json
Lecutre2HomeWork/bin/Debug/netcoreapp3.1/Lecutre2HomeWork.runtimeconfig.json
Lecutre2HomeWork/Lecutre2HomeWork.csproj
Lecutre2HomeWork/obj/Debug/netcoreapp3.1/Lecutre2HomeWork.AssemblyInfo.cs
Lecutre2HomeWork/obj/Debug/netcoreapp3.1/Lecutre2HomeWork.AssemblyInfoInputs.cache
Lecutre2HomeWork/obj/Debug/netcoreapp3.1/Lecutre2HomeWork.assets.cache
Lecutre2HomeWork/obj/Debug/netcoreapp3.1/Lecutre2HomeWork.csproj.FileListAbsolute.txt
Lecutre2HomeWork/obj/Debug/netcoreapp3.1/Lecutre2HomeWork.csprojAssemblyReference.cache
Lecutre2HomeWork/obj/Debug/netcoreapp3.1/Lecutre2HomeWork.pdb
Lecutre2HomeWork/obj/Lecutre2HomeWork.csproj.nuget.cache
Lecutre2HomeWork/obj/Lecutre2HomeWork.csproj.nuget.dgspec.json
Lecutre2HomeWork/obj/Lecutre2HomeWork.csproj.nuget.g.props
Lecutre2HomeWork/obj/Lecutre2HomeWork.csproj.nuget.g.targets
Lecutre2HomeWork/obj/project.assets.json
TETETETETE/bin/Debug/netcoreapp3.1/BasicOperationsExercises.deps.json
TETETETETE/bin/Debug/netcoreapp3.1/BasicOperationsExercises.pdb
TETETETETE/bin/Debug/netcoreapp3.1/BasicOperationsExercises.runtimeconfig.dev.json
TETETETETE/bin/Debug/netcoreapp3.1/BasicOperationsExercises.runtimeconfig.json
TETETETETE/bin/Debug/netcoreapp3.1/Lecture1HomeWork.deps.json
TETETETETE/bin/Debug/netcoreapp3.1/Lecture1HomeWork.pdb
TETETETETE/bin/Debug/netcoreapp3.1/Lecture1HomeWork.runtimeconfig.dev.json
TETETETETE/bin/Debug/netcoreapp3.1/Lecture1HomeWork.runtimeconfig.json
TETETETETE/bin/Debug/netcoreapp3.1/TETETETETE.deps.json
TETETETETE/bin/Debug/netcoreapp3.1/TETETETETE.pdb
TETETETETE/bin/Debug/netcoreapp3.1/TETETETETE.runtimeconfig.dev.json
TETETETETE/bin/Debug/netcoreapp3.1/TETETETETE.runtimeconfig.json
TETETETETE/Lecture1HomeWork.csproj
TETETETETE/obj/BasicOperationsExercises.csproj.nuget.cache
TETETETETE/obj/BasicOperationsExercises.csproj.nuget.dgspec.json
TETETETETE/obj/BasicOperationsExercises.csproj.nuget.g.props
TETETETETE/obj/BasicOperationsExercises.csproj.nuget.g.targets
TETETETETE/obj/Debug/netcoreapp3.1/BasicOperationsExercises.AssemblyInfo.cs
TETETETETE/obj/Debug/netcoreapp3.1/BasicOperationsExercises.AssemblyInfoInputs.cache
TETETETETE/obj/Debug/netcoreapp3.1/BasicOperationsExercises.assets.cache
TETETETETE/obj/Debug/netcoreapp3.1/BasicOperationsExercises.csproj.FileListAbsolute.txt
TETETETETE/obj/Debug/netcoreapp3.1/BasicOperationsExercises.csprojAssemblyReference.cache
TETETETETE/obj/Debug/netcoreapp3.1/BasicOperationsExercises.pdb
TETETETETE/obj/Debug/netcoreapp3.1/Lecture1HomeWork.AssemblyInfo.cs
TETETETETE/obj/Debug/netcoreapp3.1/Lecture1HomeWork.AssemblyInfoInputs.cache
TETETETETE/obj/Debug/netcoreapp3.1/Lecture1HomeWork.assets.cache
TETETETETE/obj/Debug/netcoreapp3.1/Lecture1HomeWork.csproj.FileListAbsolute.txt
TETETETETE/obj/Debug/netcoreapp3.1/Lecture1HomeWork.csprojAssemblyReference.cache
TETETETETE/obj/Debug/netcoreapp3.1/Lecture1HomeWork.pdb
TETETETETE/obj/Debug/netcoreapp3.1/TETETETETE.AssemblyInfo.cs
TETETETETE/obj/Debug/netcoreapp3.1/TETETETETE.AssemblyInfoInputs.cache
TETETETETE/obj/Debug/netcoreapp3.1/TETETETETE.assets.cache
TETETETETE/obj/Debug/netcoreapp3.1/TETETETETE.csproj.FileListAbsolute.txt
TETETETETE/obj/Debug/netcoreapp3.1/TETETETETE.csprojAssemblyReference.cache
TETETETETE/obj/Debug/netcoreapp3.1/TETETETETE.pdb
TETETETETE/obj/Lecture1HomeWork.csproj.nuget.cache
TETETETETE/obj/Lecture1HomeWork.csproj.nuget.dgspec.json
TETETETETE/obj/Lecture1HomeWork.csproj.nuget.g.props
TETETETETE/obj/Lecture1HomeWork.csproj.nuget.g.targets
TETETETETE/obj/project.assets.json
TETETETETE/obj/TETETETETE.csproj.nuget.cache
TETETETETE/obj/TETETETETE.csproj.nuget.dgspec.json
TETETETETE/obj/TETETETETE.csproj.nuget.g.props
TETETETETE/obj/TETETETETE.csproj.nuget.g.targets
